<% content_for :title do %>
    About Us
<% end %>

<div>
    <h3>The leading provider of Mobile Games</h3>

    <article style="background: #f8f8f8">
        <h3>About Squirrel Legend</h3>

        <p>Squirrel Legend Games was formed in 2013 to offer new games for the growing mobile user community. Our games
            offer you a fun gaming experience with engaging graphics, sound, and gameplay. We will be offering 'action'
            games in which you must complete challenges and obstacles, and 'strategy' games in which you compete against
            others, both human players and computer players.

        <p>Our team includes developers and executives with over 20 years of experience in the game industry, the
            enterprise software industry, and the digital music industry.

        <p>We have competed successfully in several hackathon competitions in Northern California, and have created a
            widely-used wellness gaming platform which has been deployed world-wide.

    </article>

    <aside style="background: #f8f8f8">
        <h3>Benefits</h3>

        <p>
            Squirrel Legend's games promote:
        </p>
        <ul>
            <li>Fun</li>
            <li>Improved Dexterity</li>
            <li>Improved Music Skills</li>
        </ul>
    </aside>
    <div style="clear:both"></div>
</div>